/* responsive breakpoint */
/* tablet */

@media screen and (max-width: 1200px) {
  .tulisan {
    width: 80%;
    float: none;
    margin: 15vh 5vw 15vh 5vw;
  }
  .pic {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 100%;
  }
  .tulisan {
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    flex-direction: column;
    margin: 15vh 0;
  }
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    /* /* float: none; */
  }
  header {
    position: absolute;
    left: -100%;
  }
  main {
    width: 100%;
    left: 0;
  }
  .pic {
    width: 100%;
  }
  .tombol {
    display: flex;
  }
  .submit {
    font-size: 3vh;
    border-radius: 50px;
  }
}

@media screen and (max-width: 700px) {
  .tulisan {
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    font-size: 1rem;
    width: 80vw;
    height: 80vh;
  }
  .nama2 {
    font-size: 1.5em;
    height: 3vw;
  }
  .lebih {
    padding: 5px;
    justify-content: space-around;
  }
  .tulisan2 {
    flex-direction: column;
    font-size: 15px;
    padding: 5px;
    width: 80%;
    height: 80%;
  }
  .b {
    border-right: none;
  }
  .tulisan2 p {
    margin: 20px;
  }
  .project h1 {
    font-size: 4em;
  }
  .project h3 {
    font-size: 2em;
  }
  .skill {
    width: 70%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skill ul {
    display: flex;
    flex-direction: column;
  }
  .skill ul div {
    width: 400px;
  }
  .skill li {
    font-size: 25px;
  }
  .skill li p {
    font-size: 13;
  }
  .jud {
    font-size: 1.5em;
  }
  label {
    font-size: 2.5vh;
  }
  .submit {
    width: 30%;
    border-radius: 20px;
  }
}

@media screen and (max-width: 450px) {
  body {
    max-width: 100vw;
  }
  .container {
    max-width: 100%;
  }
  main {
    width: 100%;
  }
  .tombol {
    position: absolute;
  }
  .skill ul div {
    width: 300px;
  }
  .tulisan {
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    font-size: 0.8rem;
    width: 80vw;
    height: 80vh;
    margin: 0;
  }
  .nama2 {
    font-size: 1.5em;
    margin: 0;
  }
  .pic {
    width: 100vw;
    margin: 0;
  }
  .nama2 {
    font-size: 1em;
    height: 2vh;
  }
  .tulisan2 {
    line-height: 1;
    word-spacing: 1px;
  }
  .certi2 {
    font-size: 1rem;
  }
  .project h1 {
    font-size: 2em;
  }
  .project h3 {
    font-size: 1em;
  }
  .skill li {
    font-size: 25px;
  }
  .skill p {
    font-size: 15px;
  }
  .jud {
    font-size: 1em;
  }
  label {
    font-size: 2vh;
  }
  .submit {
    width: 30%;
    border-radius: 20px;
  }
  .card p {
    display: inline-block;
    width: 200px;
    font-size: 15px;
    margin-top: 150px;
    text-align: center;
  }
  .card {
    margin-top: 80px;
    position: relative;
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    animation: rotate 40s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: perspective(1000px) rotateY(0deg);
    }
    100% {
      transform: perspective(1000px) rotateY(-360deg);
    }
  }

  .card a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
  }

  .card a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
  }

  .card:hover {
    animation-play-state: paused;
  }
  .tombol {
    position: fixed;
  }
}
